@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #171111;
}


a {
  text-decoration: none;
}

body {
  min-width: 325px;
  padding: auto;
  
}

main {
  background-color: #FFF0BF;
  padding: 10% 0;
}

header {
  background-color: #556270;
}

footer {
  padding: 80px;
  background-color: #556270;
  
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.nothing {
  color: white;
}

.display-main {
  background-color: #C7F464;
}

@media screen and (min-width:767px) {
  main {
    padding: 10% 10%;
  }
  header {
    padding: 0 7%;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: 2% 20%;
  }
  header {
    padding: 0 7%;
  }
}

@media screen and (max-width: 1024px) {
  /* start of large tablet styles */

}
  
@media screen and (max-width: 767px) {
/* start of medium tablet styles */
  main {
    padding: 1% 20%;
  }
  header {
    padding: 0 7%;
  }
}
  
@media screen and (max-width: 479px) {
/* start of phone styles */
  main {
    padding: 0% 0%;
  }
  header {
    padding: 0;
  }
}