textarea {
  border: #171111 solid 2px;
  background-color: #C7F464;
}

input[type="text"] {
  background-color: #C7F464;
  padding: 5px;
  border-radius: 0;
  border-bottom: #171111 solid 2px;
  border-left: #171111 solid 2px;
  width: 90%;
}

input[type="submit"] {
  display: inline-block;
  padding: 0.2em 1.2em;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  font-size: larger;
  color: #171111;
  background-color: white;
  text-align: start;
  border: black solid 2px;
  /* border-radius: 0.5rem; */
}

.editing {
  display: flex;
  align-items: center;
}

.recipe-edit-name,
.recipe-add-name {
  max-width: 100%;
  font-size: larger;
}

.recipe-edit-name {
  max-width: max-content;
}

.vertical-line {
  /* max-width: 10px; */
  max-height: 65px;
  padding: 3px;
}

.misc-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.type-form {
  margin: 5px;
}

.times-form {
  /* max-width: 325px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.ingredients-form textarea {
  resize: vertical;
  /* width: 325px; */
}

.directions-form textarea {
  resize: vertical;
  /* width: 325px; */
}

.inputs-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 991px) {
  .inputs-main {
    grid-template-columns: repeat(2, 1fr);
  }
  textarea {
    width: 95%;
  }
}

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  .inputs-main {
    grid-template-columns: repeat(2, 1fr);
  }
  textarea {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  .inputs-main {
    grid-template-columns: repeat(1, 1fr);
  }
  textarea {
    width: 95%;
  }
  .times-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  .inputs-main {
    grid-template-columns: repeat(1, 1fr);
  }

  textarea {
    width: 95%;
  }

  .times-form {
    grid-template-columns: repeat(1, 1fr);
  }
}
