.display-name {
  word-wrap: break-word;
  /* font-size: large; */
}

.display-main {
  /* border-color: orangered; */
}

.display-main-item-content {
  display: flex;
  justify-content: space-between;
}

.display-main-item {
  /* border: solid #171111 1px; */
  /* border-radius: 0.1rem; */
  max-width: 325px;
  height: 125px;
  margin: 5px 5px;
  padding: 0 1rem;
  background-color: #FF6B6B;
}

.display-main a {

}

.display-main-item,
.display-main-item p,
.display-main-item div,
.display-main-item h4,
.display-main-item h2,
.display-main-item h3 {
  border-color: #FF6B6B;
}

@media screen and (min-width:767px) {
  .display-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width:991px) {
  .display-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}



@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  .display-main-item {
    max-width: 325px;
  }
}
  
@media screen and (max-width: 767px) {
/* start of medium tablet styles */
  .display-main-item {
    max-width: 325px;
    margin: 0 auto;
  }
}
  
@media screen and (max-width: 479px) {
/* start of phone styles */
  .display-main-item {
    max-width: 100%;
  }
}