.recipe-name-edit {
  display: flex;
}

.display-icon-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.recipe-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.recipe-times {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 40%;
}

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  .recipe-contents {
    grid-template-columns: repeat(1, 1fr);
  }

  .recipe-times {
    width: 80%;
  }
}

@media screen and (max-width: 479px) {
  /* start of medium tablet styles */
  .recipe-times {
    width: 98%;
  }
}