nav {
  display: flex;
  align-items: center;
}

.icon-div {
  display: flex;
  align-items: center;
}



:root {
  --dot-size: 16px;
  --icon-size: 35px;
}

.dot {
  max-width: var(--dot-size);
  max-height: var(--dot-size);
}

.home-div {
  display: flex;
}

.back-icon {
  width: 45px;
}

.icon-div img {
  max-width: var(--icon-size);
  max-height: var(--icon-size);
  align-items: center;
}

.navbar-full {
  display: flex;
  /* align-items: center; */
}

@media screen and (max-width: 991px) {
  /* start of large tablet styles */

}
  
@media screen and (max-width: 767px) {
/* start of medium tablet styles */

}
  
@media screen and (max-width: 479px) {
/* start of phone styles */

}